<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>
    <span>Portal de examenes</span>
    <span class="example-spacer"></span>
    <a 
        *ngIf="!loginService.isLoggedIn()"
        [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Iniciar Sesion
    </a>

    <a 
        *ngIf="!loginService.isLoggedIn()"
        [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr120 ml120" aria-label="Example icon-button with heart icon">
        Registrar
    </a>
    <a 
        *ngIf="loginService.isLoggedIn()"
        (click) = "logout()"
        mat-icon-button class="example-icon favorite-icon mr120 ml120" aria-label="Example icon-button with heart icon">
        Cerrar Sesion
    </a>
    <button
        *ngIf="loginService.isLoggedIn()"
        mat-button
        style="margin-right: 10px;"
        class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    
        {{loginService.getUser().username}}
    </button>
</mat-toolbar>